$color-element-fill: #F5F5F5;
$color-element-text: #303030;
$color-element-stroke: #121212;

$color-element-fill-hover: darken($color-element-fill, 5);
$color-element-text-hover: $color-element-text;
$color-element-stroke-hover: #4B5923;

$color-element-fill-selected: #C6FF91;
$color-element-text-selected: $color-element-text;
$color-element-stroke-selected: #68D600;

$color-workspace-background: #EDEDED;

$color-workspace-grid-small: #CCCCCC;
$color-workspace-grid-large: #BABABA;

$color-connector-circle-stroke: #cca500;
$color-connector-circle-fill: #fcffbe;

$color-connector-circle-hover-stroke: #ccb200;
$color-connector-circle-hover-fill: #fffb79;